.cardMain {
    height: 80vh;
    width: 130vh;
    padding: 10px;
    margin: auto;
    margin-top: 50px;
    border: 1px none solid;
    border-radius: 12px;
    text-align: center;
    background-color: #68dc;
}

p{
    font-size: 3.5vh;
}

.olMain {
    text-align: left;
    line-height: 5vh;
    font-size: 3vh;
}

.mainAnchor {
    color:black;
    font-size: 3vh;
}

button{
    padding: 1.2vh;
}

button:hover{
    background-color: #8ad;
}

